body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container{
    border: 2px solid black;
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 10px;
}

#row{
    background-color: rgb(150, 133, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    


}

#column{
    background-color: rgb(83, 154, 163);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.box{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin: 2px;
    padding: 3px;
    text-align: center;
    background-color: rgb(141, 71, 83);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.container #box-1{
    background-color: rgb(63, 192, 63);
    flex-grow: 2;
}
#box-2{
    background-color: rgb(83, 65, 163);
}
#box-3{
    background-color: rgb(146, 179, 57);
}
#box-row1{
background-color: rgb(56, 133, 168);
}
#box-row2{
    background-color: violet;
}
#box-row3{
    background-color: lightsalmon;
    
}
.main-container{
    width: 600px;
    height: 500px;
    border: 2px solid black;
    background-color: rgb(110, 109, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}
