*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: cursive;
    
}
body{
    background-color: rgb(228, 151, 151);
}
h1{
    text-align: center;
    margin-bottom:30px;
    color: rgb(0, 0, 0);
}

hr{
    margin: 30px;
    border: 0;
    border-top: 1px solid black
}

.demo-section{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}
.resize-note{
    margin: top 10px;
}

.flex-container{
    display: flex;
    border: 2px solid black;
    min-width: 100px;
    margin-top: 15px;

}
.nav-bar{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(6, 99, 99);
}

.nav-bar a{
    text-decoration: none;
    color:white;
    padding: 10px;
    border: 1px solid transparent;
}

.card-wrapper{
    flex-wrap: wrap;


}
.card-1{
    flex-grow: 2;
    background-color: orange;
}
.card-2{
    flex-grow: 2;
    background-color: yellow;
}
.card-3{
    flex-grow: 1;
    background-color: lightgreen;
}
.card-4{
    flex: 0 0 100%;
    background-color: rgb(61, 121, 61);

}

#box-1{
    flex-grow: 2;
}
