body{
    /* background-color: rgb(206, 171, 238); */
    padding: 30px;
    font-family: cursive;
    height: 2000px;
}
.static-box{
background-color: rgb(56, 212, 56);
border: 2px solid rgb(48, 0, 0);
color: black;
padding: 20px;
pasition: static;
box-shadow: 5px 5px 10px rgb(19, 19, 19);
text-align: center;
}



.relative-box{
background-color: lightblue;
border: 2px solid rgb(79, 80, 79);
color: rgb(12, 12, 12);
padding: 20px;
margin: 10px;

position: relative;
top: 20px;
text-align: center;
box-shadow: 5px 5px 20px rgb(0, 0, 0);

}
.normal-box{
background-color: brown;
padding: 20px;
border: 2px solid black;
margin: 20px;
box-shadow: 5px 5px 10px 5px rgb(56, 56, 56);
text-align: center;
}

.absolute-box{
    background-color: rgb(122, 75, 196);
    color: black;
    padding: 10px;
    border: 2px solid yellow;
    width: 140px;
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(54, 54, 54);

}

.absolute-box2{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 140px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(8, 117, 117);
    text-align: center;
box-shadow: 5px 5px 10px rgb(51, 51, 51);
}
.absolute-box3{
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 140px;
    height: 100px;
    border: 2px solid rgb(204, 27, 27);
    background-color: rgb(147, 150, 0);
    color: rgb(204, 18, 18);
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(80, 79, 79);

}

.fixed{
background-color: rgb(201, 46, 46);
height: 15px;
width: 60px;
position: fixed;
width: 200px;
bottom: 0;
right: 0;
color: rgb(0, 0, 0);
padding: 10px;
border: 2px solid rgb(0, 0, 0);
box-shadow: 5px 5px 20px black;
}
